{% extends "TnDWWebBundle::layout.html.twig" %}

{% block selected %}distros{% endblock %}

{% block body %}
<div id="distro" class="pagetitle">
<h2>{{distro.name}}</h2>
<p>
{{distro.os}}<br />
{{distro.homepage}}<br />
{{distro.wikipage}}<br />
{{distro.description}}<br />
{{distro.status}}
</p>
</div>
{% endblock %}
