<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://opengraphprotocol.org/schema/">
    <head>
        <title>{% block title %}TNDW{% endblock %}</title>
        <link href="{{ asset('bundles/tndwweb/css/main.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/tndwweb/css/jquery.fancybox.css') }}" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="{{ asset('bundles/tndwweb/js/jquery-1.8.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/tndwweb/js/jquery.fancybox.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/tndwweb/js/jquery-scrolltofixed-min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/tndwweb/js/general.js') }}"></script>
    </head>

    <body>
        <div id="container">
            <!-- HEADER -->
            <div id="header">
            	{% block header %}
                <div id="header-top">
                    <!--<p>The new<p>-->
                    <div id="header-title">
                        <h1>Distrowatch</h1>
                    </div>
                    <div id="header-login">
                        <ul>
                            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
            	            <li><a href="{{ path('logout') }}">Logout</a></li>
                            {% else %}
                            <li><a href="{{ path('login') }}">Login</a></li>
                            <li><a href="{{ path('tndw_web_register') }}">Register</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div id="header-menu">
                    <ul>
                        <li class="home"><a href="{{ path('tndw_web_home') }}">Home</a></li>
                        <li class="distros"><a href="{{ path('tndw_web_distros') }}">Distros</a></li>
                        <li class="updates"><a href="{{ path('tndw_web_updates') }}">Updates</a></li>
                        <li class="news"><a href="{{ path('tndw_web_news') }}">News</a></li>
                        <li class="about"><a href="{{ path('tndw_web_about') }}">About</a></li>
                    </ul>
                    <ul id="search">
						<script type="text/javascript">
							$(document).ready(function() {
								$("#header-search").hide();
								$('#header-search input').focusout(function() {
									$("#header-search").slideUp(300);
								});
								$(".search").click(function() {
									if ($("#header-search").css("display") == 'none') {
										$("#header-search").slideDown(300);
										$('#header-search input').focus();
									} else {
										$("#header-search").slideUp(300);
									}
								});
							});
						</script>
                        <li class="search">Search</li>
                    </ul>
                </div>
                <div id="header-search">
                   	<form method="get" action="{{ path('tndw_web_search') }}">
                        <input type="text" id="search" name="search" placeholder="search whatever you want" />
                     </form>
                </div>
                {% endblock %}
            </div>
            <!-- BODY -->
            <div id="body">
            	{% block body %}
                {% endblock %}
             </div>
             <!-- FOOTER -->
             <div id="footer">
				{% block footer %}
				<div id="line"></div>
                <span>The new Distrowatch is the best source of information about Linux distributions and other operating systems.</span>
				<!--
                <p align="right">HOME | DISTROS | UPDATES | NEWS | ABOUT </p>
				-->
                {% endblock %}
             </div>
		</div>
        <!-- SCRIPTS -->
        <script type="text/javascript">
            $(document).ready(function() {
                $("#header-menu ul li a").addClass('unselected');
                var chosen = $("."+"{% block selected%}{% endblock %}");
                chosen.removeClass('unselected');
                chosen.addClass('selected');
            });
        </script>
	</body>
</html>
