{% extends "TnDWWebBundle::layout.html.twig" %}

{% block title %}
home
{% endblock %}

{% block body %}
<div id="home-top">
	<div id="home-top-title">
		<h2>top rating</h2>
	</div>
	<div id="home-top-body">
		<ol>
			{% for distro in distros %}
			<li><a href="{{ path('tndw_web_distro', {'distro': distro.shortname }) }}">{{ distro.name }}</a></li>
			{% endfor %}
		</ol>

	</div>
</div>

<div id="home-news">
	<div id="home-news-title">
		<h2>News</h2>
	</div>
	<div id="home-news-body">
        {% for article in news %}
            <p class="perex"><b>{{article.title}}</b> {{article.text}} <a class="source" href="{{article.source}}">{{article.source}}</a></p>
        {% endfor %}
	</div>
</div>

<div id="home-updates">
	<div id="home-updates-title">
		<h2>Updates</h2>
	</div>
	<div id="home-updates-body">
        {% for update in updates %}
            <p class="perex"><b>{{update.title}}</b> {{update.text}} <a href="{{update.source}}">{{update.source}}</a></p>
        {% endfor %}
    </div>
</div>

<div id="home-stream">
	<div id="home-stream-title">
		<h2>live stream</h2>
	</div>
	<div id="home-stream-body">
		<p>user AB add a coment:<br /> i don’t know what... <br />  to discussion XY</p>
		<p>user CD add a coment: <br /> something different than AB to discussion XY</p>
		<p>user EF add a coment: <br /> i agree with... <br />  to discussion XY</p>
	</div>
</div>
{% endblock %}
